<section class="list">
    <div class="clearfix">
        <div class="btn-group pull-right">
            <button class="btn btn--toggle" 
                    ng-class="{'btn--toggle': vm.toggle === 2000}"
                    ng-click="vm.toggleFilter(2000)">
                    2000's
            </button>
            <button class="btn" 
                    ng-click="vm.toggleFilter(1990)"                    
                    ng-class="{'btn--toggle': vm.toggle === 1990}">
                    1990's
            </button>
        </div>           
    </div>
    <movie-tile ng-repeat="movie in vm.filteredMovies"></movie-tile>
</section>