/////////////////////////////
// Variables
/////////////////////////////


// Colors
$btn-highlight-bg: #1A72B0;
$btn-primary-bg: #F9B44A;
$btn-default-bg: #F7F8F9; 
$btn-default-border: #C2CAD0;
$text-color: #303436;
$border-color: #303436;
$main-bg: #E8EBEE;

// Fonts
$font-family: "Open Sans", Arial, sans-serif;






