/////////////////////////////
// Variables
/////////////////////////////


// Colors
$btn-highlight-color: #1A72B0;
$btn-primary-color: #F9B44A;
$btn-default-color: #F7F8F9;
$text-color: #303436;
$border-color: #303436;
$main-bg: #E8EBEE;

// Fonts
$font-family: '"Open Sans", Arial, sans-serif';
 





