/////////////////////////////
// Variables
/////////////////////////////


// Colors
$btn-highlight-bg: #1A72B0;
$btn-primary-bg: #F9B44A;
$btn-default-bg: #F7F8F9; 
$btn-default-border: #C2CAD0;

$text-default-color: #303436;
$text-light-color: #61696E;

$border-default-color: #303436;
$border-light-color: #61696E;

$main-bg: #E8EBEE;

// Fonts
$font-family: "Open Sans", Arial, sans-serif;






